<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
    <div class="mdl-layout-icon"></div>
    <div class="mh-layout-transparent mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
          <img class="mdl-layout--large-screen-only" src="assets/images/logo.png" alt="Mario Hernandez" style="width:100px;height:45px;">
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <!--<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="">notifications</div>-->
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">Cerrar sesión</li>
      </ul>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" style="background-color: #424242;color: white;">
        <img src="assets/images/avatar.png" class="tactic-avatar">&nbsp; Mario Hernandez RFID
    </span>
    <nav class="mdl-navigation">
      <!--<a class="mdl-navigation__link" href="">
                <i class="fa fa-dashboard fa-2x"></i>&nbsp; Dashboard
            </a>
      <span>&nbsp; </span>-->
      <a class="mdl-navigation__link" routerLink="/tms-p" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-truck fa-2x fa-flip-horizontal"></i>&nbsp; Integraciones
      </a>
      <a class="mdl-navigation__link" routerLink="/wms" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-industry fa-2x"></i>&nbsp; Mensajes
      </a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
